.vscode/
.idea/
__pycache__/
venv
mongo.py
error.log
output/database.db
output/preprocessed.csv
output/*.model
output/database-c1.db
output/database-research-server.db
#seed_list.toml
#seed.toml
config.toml
